html, body {
    margin: 0;
    padding: 0;
}

.plot-table {
    border-collapse: collapse;
    width: 120px;
}

.plot-table td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: 2px 5px 2px 2px;
    text-align: right;
    background-color: white;
}

.plot-table th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: 2px 5px 2px 2px;
    background-color: #d3d3d3;
    text-align: center;
    background-color: white;
}

.item__plot,
.item__plot-table {
    height: 400px;
}

.item__plot-table {
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    margin-left: 50px;
}

.item__plot {
    width: 700px;
    float: left;
}

.item {
    padding: 10px;
}

.item::after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
}

.plot-container__item {
    background-color: #2b908f;
    width: 930px;
    margin: 10px;
    border-radius: 5px;
}

html, /*todo figure out hot to remove lines at top and bottom*/
.plot-container,
body {
    background-color: #85bd66;
}

.clear-fix {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
}

.plot-container {
    float: left;
}

.input-parameters {
    background-color: #2b908f;
    float: left;
    margin: 10px;
    width: 379px;
    height: 850px;
    padding: 10px;
    border-radius: 5px;
}



.input-parameters  form {
    width: 300px;
}

.controls {
    margin: 20px 10px 10px;
    padding: 20px;
    background-color: #2b908f;
    border-radius: 5px;
}

.table {
    margin-bottom: 0;
}